html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden !important;
}

.banner {
  background: url('../img/jesse-ramirez-YiSD-1eJ_1g-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-link {
  font-size: 21px;
  color: black;
  transition: all 0.3s ease;
  border-radius: 2px;
  font-weight: 600;
}

.btn_1:hover {
  background: rgba(255, 255, 255, 0.226);
  color: #fff!important;
  position: relative;
  border: 1px solid #fff!important;
}


/* Services Styling */
.service-banner {
  padding: 70px 0;
}

.banner-header {
  font-weight: 700;
  margin: 2rem auto;
  font-size: 36px;
}

.banner-text {
  font-size: 17px;
  line-height: 160%;
}

.services-items {
  margin: 80px 0;
  position: relative;
}

.services-header {
  font-size: 32px;
  font-weight: 500;
}

.services-arc {
  position: absolute;
  right: 0;
  top: 30%;
}

.service-item {
  margin: 2rem 1rem;
  padding: 1rem 1.5rem;
  width: 336px;
  max-width: 336px;
  min-height: 260.16px;
  background: #ffffff;
  box-shadow: 0px 2px 30px rgba(177, 31, 31, 0.25);
  border-radius: 5px;
  height: auto;
}

.service-header {
  font-size: 18px;
  font-weight: bold;
  margin: 1rem 0;
}

.service-desc {
  font-size: 1rem;
  font-weight: normal;
}

.service-link {
  color: #fc4e17 !important;
  border-bottom: 1px solid #fc4e17 !important;
}

.partners {
  padding: 20px 0;
  margin-bottom: 5rem;
}

.flutter {
  margin-top: -2.1rem;
  display: block;
}

.partner-heading {
  font-size: 32px;
  position: relative;
  margin-bottom: 4rem;
}

.partner-heading::after {
  content: '';
  position: absolute;
  background: #fc4e17;
  width: 150px;
  height: 3px;
  display: inline-block;
  text-align: center;
  bottom: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.partner-item {
  outline: 0;
}

@media (max-width: 1200px) {
  .navbar-nav > li {
    padding-left: 0;
    padding-right: 0;
    margin: 0 2px;
  }

  .nav-link {
    font-size: 16px !important;
    transition: all 0.3s ease;
    border-bottom: 0px solid #fff;
    border-radius: 2px;
  }

  nav .btn_1 {
    padding: 0.5rem 1rem !important;
  }
}

@media (max-width: 1024px) {
  .navbar-nav > li {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 5px;
  }

  .nav-link {
    font-size: 1rem;
  }

  nav .btn_1 {
    padding: 5px;
    font-size: 15px !important;
  }

  .services-items .row {
    justify-content: center;
  }

  .partner-item img {
    width: 200px;
  }
}
@media (max-width: 768px) {
 .none {
   display: none;
 }
 .small-sm {
   font-size: 2rem;
 }
  }
@media (max-width: 425px) {
  .banner {
    height: 500px;
  }
  .service-banner {
    padding: 20px 0;
  }

  .banner-header {
    font-size: 28px;
  }

  .banner-text {
    font-size: 16px;
  }

  .services-header {
    font-size: 24px;
  }

  .services-arc {
    width: 150px;
    top: 15%;
  }

  .services-items .row {
    justify-content: center;
  }

  .partner-item img {
    width: 300px;
  }

  .partner-heading {
    font-size: 23px;
    position: relative;
    margin-bottom: 4rem;
  }
}
